@using Auth.Models
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser? currentUser = null;
    string authMethod = "N/A";
    var roleDisplay = User.IsInRole("Admin") ? "- Admin" : "";

    // Check if the user is authenticated before attempting to fetch the data
    if (User.Identity.IsAuthenticated)
    {
        // Fetch the full ApplicationUser object from the database
        currentUser = await UserManager.GetUserAsync(User);

        // Ensure the user was found and retrieve the AuthMethod
        if (currentUser != null)
        {
            authMethod = currentUser.AuthMethod ?? "Regular";
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Auth.styles.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/v/dt/dt-2.3.4/datatables.min.css" rel="stylesheet" integrity="sha384-pmGS6IIcXhAVIhcnh9X/mxffzZNHbuxboycGuQQoP3pAbb0SwlSUUHn2v22bOenI" crossorigin="anonymous">
</head>
<body class="d-flex flex-column" style="min-height: 100vh;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @if (User.Identity.IsAuthenticated) {
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/identity.png"
                             alt="ASP.Net Identity"
                             style="height: 40px; margin-right: 8px;" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Index">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                            </li>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserManagement">User Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Logs">Application Logs</a>
                                </li>
                            }
    
                        </ul>
                        <!-- Right side -->
                        <ul class="navbar-nav" style="margin-left: auto;">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#">Hello, @currentUser.FirstName! (@currentUser.AuthMethod) @roleDisplay </a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-controller="Auth" asp-action="Logout" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            else {
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/identity.png"
                             alt="ASP.Net Identity"
                             style="height: 40px; margin-right: 8px;" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                            </li>
                        </ul>
                        <!-- Right side -->
                        <ul class="navbar-nav" style="margin-left: auto;">
                            <li class="nav-item">
                                <a class="nav-link text-white btn btn-primary me-2" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white btn btn-warning" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </nav>
    </header>
    <div class="container">
        @if (TempData["SuccessMessage"] != null)
        {
            <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["StatusMessage"] != null)
        {
            <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["StatusMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (ViewData["SuccessMessage"] != null)
        {
            <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (ViewData["StatusMessage"] != null)
        {
            <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewData["StatusMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (ViewData["ErrorMessage"] != null)
        {
            <div id="flash-message" class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>

    <footer class="border-top footer text-muted" style="margin-top: auto; padding-bottom: 2px; margin-bottom: 10px;">
        <div class="container">
            &copy; @DateTime.Now.Year - Auth - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.3.4/datatables.min.js" integrity="sha384-X2pTSfom8FUa+vGQ+DgTCSyBZYkC1RliOduHa0X96D060s7Q//fnOh3LcazRNHyo" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
